@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    margin: 0;
    background-color: hsl(226, 43%, 10%);
    color: white;
    font-family: 'Rubik', sans-serif;
}

.inner-card {
    background-color: hsl(235, 46%, 20%);
}

.pfp {
    width: 5rem;
    border: white 3px solid;
}

.user-details h1 {
    font-weight: 300;
}

.user-details h6 {
    color: hsl(236, 100%, 87%);
}

.buttons a {
    color: hsl(236, 100%, 87%);
    transition: .5s;
}

.buttons a:hover {
    color: #fff;
}

.user-details {
    background-color: hsl(246, 80%, 60%);
}

/* Activity Cards */
.work-card {
    background-color: hsl(15, 100%, 70%);
    background-image: url('images/icon-work.svg');
    background-position:90% -10px;
}

.play-card {
    background-color: hsl(195, 74%, 62%);
    background-image: url('images/icon-play.svg');
    background-position:90% -8px;
}

.study-card {
    background-color: hsl(348, 100%, 68%);
    background-image: url('images/icon-study.svg');
    background-position:90% -8px;
}

.exercise-card {
    background-color: hsl(145, 58%, 55%);
    background-image: url('images/icon-exercise.svg');
    background-position:90% -3px;
}

.social-card {
    background-color: hsl(264, 64%, 52%);
    background-image: url('images/icon-social.svg');
    background-position:90% -10px;
}

.self-care-card {
    background-color: hsl(43, 84%, 65%);
    background-image: url('images/icon-self-care.svg');
    background-position:90% -10px;
}

/* Activity Card Content */
.activity-deets {
    font-weight: 300;
    /* margin-top: 3rem; */
    padding: 1.5rem;
    background-color: hsl(235, 46%, 20%); 
    transition: .5s;
}

.activity-inner {
    margin-bottom: 20px;
}

.activity-title {
    font-weight: 500;
}

.activity-time {
    margin-bottom: 10px;
    font-weight: 300;
}

.previous-time {
    font-weight: 400;
    color: hsl(236, 100%, 87%);
}

.activity-deets:hover {
    background-color: hsl(235, 45%, 61%);
}

svg {
    fill: #BBC0FF;
    transition: .5s
}

svg:hover {
    fill: #fff;
    cursor: pointer;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }